/* 
============ OVERALL SETTINGS ============
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--bg-lighter);
    color: white;
    padding-bottom: 50px;
}
body::-webkit-scrollbar {
    display: none;
}
/* COLORS */
:root {
    --bg-darker: #081120;
    --bg-lighter: #121B29;
    --purple: #856FF5;
    --secondary: #374366;
    --orange: #FF4C29;
}

/* 
============ PRESENTATION ============
*/
header{
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #051937, #051937, #051937, #051937, #0b1f42, #13254d, #1b2b59, #303874, #49468e, #6552a9, #845ec2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#presentation-text{
    width: auto; 
    display: flex;
    flex-direction: column; 
    font-size: 1em; 
}
#presentation-text div:first-child{
    font-size: 1.4em;
    font-weight: 300;
}
#presentation-text .bigger{
    font-size: 1.7em;
    font-weight: 400;
}
#presentation-text button{
    padding: 14px 35px;
    margin-top: 20px;
    border: none;
    border: 3px solid #FF4C29;
    border-radius: 4px;
    background-color: transparent;
    color: #FF4C29;
    font-size: 1.6em;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 20px 15px;
    cursor: pointer;
}

#presentation-text button:hover{
    background-color: #FF4C29;
    color: white;
}

#presentation-image{
    width: 40%;   
    display: flex;
    justify-content: flex-end;
}
#presentation-image img{
    width: 90%;
}
#img-mobile{
    display: none;
}


/* 
============ MY WORK ============
*/
section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    gap: 50px;
}
section#portfolio{
    background-color: var(--bg-darker);
}
.name{
    width: 30%;
    text-align: center;
}
.title{
    font-size: 1em;
    color: var(--purple);
    font-weight: 600;
}
.subtitle{
    font-size: 1.7em;
    font-weight: 500;
}

#my-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 50px;
}
.project{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.project .description{
    width: 24%;
    background-color: var(--secondary);
    border-radius: 4px;
    padding: 30px;
}
.title-project{
    font-weight: 600;
    font-size: 1.2em;
}
.description-project, .tecnologies div{
    color: rgb(235, 235, 235);
    font-weight: 300;
}
.tecnologies span{
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.1em;
}
.description .github button{
    padding: 10px 35px;
    background-color: var(--purple);
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    cursor: pointer;
}
.description .github button:hover{
    background-color: #7359f7;
}

.project .printscreen{
    width: 50%;
}
.project .printscreen img{
    width: 100%;
    border-radius: 4px;
}

/* 
============ ABOUT ME ============
*/
section#about-me{
    background-color: var(--bg-lighter);
}
#introduction{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
#profile-pic{
    width: 20%;
    text-align: center;
}
#profile-pic img{
    width: 100%;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}
.fa-brands, .fa-solid{
    color: var(--purple);
    font-size: 2em;
    margin-right: 10px;
    cursor:pointer;
}

#profile-presentation{
    width: 46%;
}
#profile-presentation{
    font-size: 1.2em;
}
#profile-presentation > div{
    font-weight: 600;
    font-size: 1.4em;
}
#profile-presentation > span{
    color: var(--purple);
    font-weight: 500;
}

#specializing{
    width: 20%;
    font-size: 1.2em;
    text-align: center;
}
#specializing span{
    font-weight: 600;
}
#specializing > div{
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#about-me a{
    color: white;
}

#container {
    height: 50vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid ;
    place-items: center
  }
  
  #slider-container {
    height: 400px;
    width: 85vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 40px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid var(--purple);
    border-top: 8px solid var(--purple);
    cursor: pointer;
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(117, 92, 243)
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 5px 20px 15px;
    display: grid;
    place-items: center;
    border-radius: 4px;
  }
  #slider-container #slider .slide .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .slide-img{
    height: 40%;  
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .slide-img img{
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
  }
  .slide-description{
      font-size: 1.2em;
      padding: 0 20px;
  }
  .slide-description span:first-child{
      display: block;
      font-weight: 600;
      font-size: 1.3em;
  }
  .link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      font-size: 1.2em;
  }
  .link a{
      text-decoration: none;
  }
  .link .course-link{
      background-color: var(--purple);
      color: white;
      padding: 8px 14px;
      border-radius: 2px;
      cursor: pointer;
  }
  .course-link:hover{
      background-color: #7359f5;
  }
  
  @media only screen and (min-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }

/* 
============ MEDIA QUERIES ============
*/
@media only screen and (max-width: 800px) {
    /* HEADER */
    header {
      flex-direction: column;
      padding-top: 50px;
    }
    #presentation-text{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #presentation-text div.smaller{
        font-size: 1.5em;
    }
    #presentation-text div.bigger{
        font-size: 1.8em;
    }
    #presentation-image{
        display: none;
    }
    #img-mobile{
        display: block;
        width: 60%;
    }

    /* MY PROJECTS */
    .name{
        width: 100%;
    }
    .project{
        width: 80%;
        flex-direction: column;
    }
    .project .description{
        width: 80%;
    }
    .project .printscreen{
        display: none;
    }

    /* ABOUT ME */
    #introduction{
        flex-direction: column;
        gap: 30px;
    }
    #profile-pic{
        width: 65%;
    }
    
    #profile-presentation, #specializing{
        width: 85%;
        text-align: center;
    }
}
